
.login-page {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
  margin: 0; /* Remove any default margin */
}

/* Left side: Background Image */
.login-image {
  flex: 1;
  background-image: url('../assets/login.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it takes full height */
}

/* Right side: Login Form */
.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f7f7f7;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
}

/* Make sure it takes up full height */
.login-page .login-container {
  height: 100vh;
}
